@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap");
body {
  font-family: "Comic Neue", cursive;
  background-color: rgb(194, 194, 194);
}

body > header {
  display: flex;
  justify-content: center;
  width: ;
}
.ul-main-nav {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.ul-main-nav li{
  margin: 0 15px;
}
/*
header nav {
  background-color: grey;
}
header nav ul {
  display: flex;
  justify-content: center;
}
header nav ul li {
box-sizing: content-box;
font-size: 3rem;
}

.col-4 {
display: flex;
justify-content: center;

}
.col-4 div {
  padding: 3%;
  border: 2px solid black;
  margin: 1%;
  border-radius: 10px;
  box-shadow: 6px 6px 6px grey;
  background-color: #dddddd;
  
}
.col-5 {
  display: flex;
  justify-content: center;
}
.col-5 div {
  width: 15%;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
}*/
